XML/XMLFile2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="paketler">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paket">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ad" type="xs:string" />
              <xs:element name="fiyat" type="xs:unsignedByte" />
              <xs:element name="akk" type="xs:unsignedByte" />
              <xs:element name="taahhut" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>