XML/XMLFile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aboneler">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="abone">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ad" type="xs:string" />
              <xs:element name="soyad" type="xs:string" />
              <xs:element name="tc" type="xs:unsignedLong" />
              <xs:element name="anneKizlik" type="xs:string" />
              <xs:element name="tel" type="xs:unsignedLong" />
              <xs:element name="adres" type="xs:string" />
              <xs:element name="baglantiYer" type="xs:string" />
              <xs:element name="aboneTip" type="xs:string" />
              <xs:element name="iPaket" type="xs:string" />
              <xs:element name="PaketFiyat" type="xs:int" />
              <xs:element name="akk" type="xs:int" />
              <xs:element name="taahhut" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>